body{
    background: gainsboro;
}

/*importar fuent */
@font-face {
    font-family: AlkatraFuente ;
    src: url(Fonts/Alkatra/static/Alkatra-Regular.ttf);
}
h1{
    font-family: AlkatraFuente;
    font-style: italic;
    /*Colores*/

    /*Colores del sistema*/
    color: mediumpurple;
    /*Colores hexadeciales*/
    color: #FFA500;
    /*Colores RGB*/
    color: rgb(60, 179, 113);
    /*Colores RGBA transparencia-opacidad*/
    color: rgba(255, 140, 0, 0.5);
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: olive;
    color: #4682B4;
}
p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
}